SERVER_PORT=8080
ORACLE_PORT=1521

DB_URL=jdbc:oracle:thin:@oracle-db:1521/FREEPDB1
DB_USER=gestao
DB_PASSWORD=gestao_dev_2026

JWT_SECRET=troque-esta-chave-local-com-mais-de-32-caracteres
JPA_SHOW_SQL=false
